<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Squad Chat')"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<br><br><br><br>
<h1 th:text="${squad.name}"></h1>
<div th:data-chat-id="${squad.chat.id}">Chat ID is <span th:text="${squad.chat.id}"></span></div>




<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script type="module" th:src="@{/js/chat.js}"></script>
</body>
</html>
