<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Squad Chat')"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" th:href="@{/css/squad-chat.css}">
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">
    <div id="squad-chat-wrapper">
        <div id="squad-title-wrapper">
            <div id="squad-title" th:data-squad-id="${squad.id}" th:text="${squad.name}"></div>
        </div>
        <div id="chat-body-wrapper">
            <div id="chat-messages-div-wrapper">
                <div id="chat-messages-div">
                    <!-- All chat messages -->
                </div>
            </div>
            <div id="chat-sidebar-wrapper">
                <div id="current-users-wrapper">
                    <h5>Members</h5>
                    <div id="squad-users-div-wrapper">
                        <div id="squad-users-div"></div>
                    </div>
                </div>
                <div id="invite-users-div">
                    <select id="invite-users-select">
                    </select>
                    <button id="invite-users-button">Invite</button>
                </div>
            </div>

        </div>
        <div id="text-input-wrapper">
            <input id="chat-text-input" type="text" autocomplete="off">
            <div id="chat-button-container">
                <div id="chat-send-button" class="btn btn-outline-success">Send Message</div>
            </div>
        </div>

    </div>
</div>

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="module" th:src="@{/js/chat.js}"></script>
<script type="module" th:src="@{/js/squad-chat.js}"></script>
<script type="module" th:src="@{/js/filestack.js}"></script>
</body>
</html>
