<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Squads')"></div>
    <link rel="stylesheet" th:href="@{/css/squad-main.css}">
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">
    <div class="green-container">

        <div class="green-card">
                <h1>Active Squads</h1>
            <div>
                <div th:each="squad : ${userSquads}">
                    <div class="purple-card" th:data-squad-id="${squad.id}">
                        <a class="squad-title" th:text="${squad.name}" th:href="@{/squads/${squad.id}/chat}"></a>
                        <div th:each="member : ${squad.members}">
                            <p th:text="${member.username}"></p>
                        </div>
                        <button class="disband-squad-button">Disband Squad</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="create-squad">
            <h1>Create A Squad</h1>
            <div id="create-squad-div">
                <form method="POST" th:action="@{/squads/create}" th:object="${squad}">
                    <input id="create-squad-name" type="text" th:field="*{name}" placeholder="Squad Name" autocomplete="off">
                    <button type="submit">Create</button>
                </form>
            </div>
        <div class="squad-invites">
            <h1>Squad Invites</h1>
            <div id="squad-invites-div"></div>
        </div>
        </div>

    </div>

</div>


    <nav th:replace="partials :: footer"></nav>
    <div th:replace="partials :: scripts"></div>
    <script type="module" th:src="@{/js/squad-main.js}"></script>


</div>
</body>
</html>
