<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Squads')"></div>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<br><br><br><br>
<h1>Active Squads</h1>
<div id="active-squads-div">
    <ul th:each="userSquad : ${userSquads}">
        <li th:text="${userSquad.name}"></li>
<!--        <img th:src="${userSquad.squadPicture.url}">-->
    </ul>
</div>

<h1>Create Squad</h1>
<div id="create-squad-div">
    <form method="POST" th:action="@{/squads/create}" th:object="${squad}">
        <input id="create-squad-name" type="text" th:field="*{name}" placeholder="Squad Name" autocomplete="off">
        <button type="submit">Create</button>
    </form>
</div>

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
</body>
</html>
