<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Squads')"></div>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<br><br><br><br>
<h1>Active Squads</h1>
<div id="active-squads-div">
    <ul th:each="userSquad : ${userSquads}">
        <li class="squad-list-item" th:data-squad-id="${userSquad.id}">
            <a th:href="@{|/squads/${userSquad.id}/chat|}" th:text="${userSquad.name}"></a>
        </li>
<!--        <img th:src="${userSquad.squadPicture.url}">-->
    </ul>
</div>

<h1>Create Squad</h1>
<div id="create-squad-div">
    <form method="POST" th:action="@{/squads/create}" th:object="${squad}">
        <input id="create-squad-name" type="text" th:field="*{name}" placeholder="Squad Name" autocomplete="off">
        <button type="submit">Create</button>
    </form>
</div>

<h1>Squad Invites</h1>
<div id="squad-invites-div"></div>

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script type="module" th:src="@{/js/squad-main.js}"></script>
</body>
</html>
