<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Games Page')"></div>
    <link rel="stylesheet" th:href="@{/css/games.css}">

</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">

    <div class="games-container"> <!-- fav game and saved games area -->

        <h1>My Favorite Game</h1>
        <div id="my-favorite-game" class=" p-5"></div>


        <h1>My Games</h1>
        <div id="my-games" class="row container p-5"></div>

    </div> <!-- end of fav game and saved games area -->

    <div class="container bg-dark rounded-3 p-5"><!--dark gray bubble area -->
        <h1>Add Games</h1>

        <input id="game-search-input" type="text">
        <button id="game-search-button">Search</button>
    </div><!--end of dark gray bubble area -->

    <div id="games-div" class="row container p-5">
        <!--this is where the search results populate -->
    </div>

</div>
<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script th:type="module" th:src="@{/js/games.js}"></script>
</body>
</html>