<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Games Page')"></div>
    <link rel="stylesheet" th:href="@{/css/games.css}">

</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">

    <div class="games-container rainbow"> <!-- fav game and saved games area -->
<!--        <h3>My Favorite</h3>-->
<!--        <h4>My Games</h4>-->
        <span style="color: black;">.</span>
        <br>
        <span class="span1">My Favorite</span><span class="span2">My Games</span>
        <div id="my-favorite-game" class="p-3"></div>


<!--        <h4 class="m-3">My Games</h4>-->
<!--        <div id="my-games" class="row container p-5"></div>-->


        <div class="my-games game-carousel" id="my-games">

            <div class="inner-carousel">
                <div class="track user-track">
                    <div class="call-to-action-wrapper">
                        <div id="games-call-to-action">
                            Add games below and they will show up here!
                        </div>
                    </div>
                    <!--                    games populate here-->
                </div>
                <div class="nav">
                    <button class="prev"><img th:src="@{/Icons/next.png}"></button>
                    <button class="next"><img th:src="@{/Icons/next.png}"></button>
                </div>
            </div>
        </div>
    </div> <!-- end of fav game and saved games area -->


    <div id="add-games-container" class="rainbow"><!--dark gray bubble area -->
        <div id="search-bar">
            <input id="game-search-input" type="text" placeholder="Add a game">
            <img id="game-search-button" class="clickable" th:src="@{/Icons/search.png}">
        </div>
        <p class="filter-words">* If no results are returned, check spelling and selected game platforms in "Edit Preferences".</p>

            <div id="games-div" class=" game-carousel">

                <div class="inner-carousel">
                    <div class="track search-track">
                        <!--                    games populate here-->
                    </div>
                    <div class="nav">
                        <button class="prev2"><img th:src="@{/Icons/next.png}"></button>
                        <button class="next2"><img th:src="@{/Icons/next.png}"></button>
                    </div>
                </div>
            </div>

    </div><!--end of dark gray bubble area -->

<!--    <div id="games-div" class="row container p-5">-->
<!--        &lt;!&ndash;this is where the search results populate &ndash;&gt;-->
<!--    </div>-->
<img th:src="@{/codey-radar.gif}" width="auto" height="200" class="load-gif" id="load-gif">
</div>
<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script th:type="module" th:src="@{/js/games.js}"></script>
</body>
</html>