<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Games Page')"></div>
    <link rel="stylesheet" th:href="@{/css/games.css}">

</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">

    <input id="game-search-input" type="text">
    <button id="game-search-button">Search</button>
    <div id="games-div" class="row container">

    </div>

</div>
<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script th:src="@{/js/games.js}"></script>
</body>
</html>