<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Preferences Page')"></div>
    <link rel="stylesheet" th:href="@{/css/preferences.css}">
    <link rel="stylesheet" th:href="@{/css/select2.css}">
    <script type="module" th:src="@{/js/preferences.js}"></script>
    <script th:src="@{/js/select2.full.min.js}"></script>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">

    <title>Profile Preferences</title>

    <h1 class="text-center pt-5 my-5 outlined pref">Let's fill out your preferences</h1>
    <div hidden th:text="${preferences.id}" id="hidden-preferences-id"></div>
    <div class="container bg-dark rounded-3 p-5 rainbow"><!--the dark gray bubble area -->
<!--        <div>-->

<!--        </div>-->

<!--timezone dropdown-->
        <p>
            <span>Pick your time Zone</span>
            <select class="location form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="location" name="location" style="width: 100%">
                <option value=""></option>
                <option value="Unspecified Time Zone">(UTC ??:??) Unspecified</option>
                <option value="Hawaii-Aleutian Time Zone">(UTC-10:00) Hawaii-Aleutian Standard Time</option>
                <option value="Alaskan Time Zone">(UTC-9:00) Alaskan Standard Time</option>
                <option value="Pacific Time Zone">(UTC-8:00) Pacific Standard Time</option>
                <option value="Mountain Time Zone">(UTC-7:00) Mountain Standard Time</option>
                <option value="Mountain Arizona Time Zone">(UTC-7:00) Mountain Standard Time (Arizona)</option>
                <option value="Central Time Zone">(UTC-6:00) Central Standard Time</option>
                <option value="Eastern Time Zone">(UTC-5:00) Eastern Standard Time</option>
                <option value="Atlantic Time Zone">(UTC-4:00) Atlantic Standard Time</option>
            </select>
        </p>
<!--Puerto Rico, Virgin Islands,Hawaii and Arizona do not observe Daylight Savings Time, the Aleutian islands do though-->
<!--end of timezone dropdown-->

<!--Map and Overlays div-->

        <p>
        <div class="mapcontainer">
            <img src="/preferences-map/pref-map.jpg" class="map">
            <img src="/preferences-map/pref-alaska-overlay.png" class="overlay" id="AK">
            <img src="/preferences-map/pref-arizona-overlay.png" class="overlay" id="AZ">
            <img src="/preferences-map/pref-atlantic-overlay.png" class="overlay" id="AST">
            <img src="/preferences-map/pref-central-overlay.png" class="overlay" id="CT">
            <img src="/preferences-map/pref-eastern-overlay.png" class="overlay" id="ET">
            <img src="/preferences-map/pref-hawaii-overlay.png" class="overlay" id="HAST">
            <img src="/preferences-map/pref-mountain-overlay.png" class="overlay" id="MT">
            <img src="/preferences-map/pref-pacific-overlay.png" class="overlay" id="PT">
        </div>
        </p>
<!--end of Map and Overlays div-->

<!--Languages Selection-->
        <p>
            <span>Languages</span>
            <br>
            <select class="languages form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="languages" name="languages" multiple="multiple" style="width: 100%">
                <option value=""></option>
                <option value="English" >English</option>
                <option value="Spanish">Spanish</option>
                <option value="Chinese">Chinese</option>
                <option value="Japanese">Japanese</option>
                <option value="Korean">Korean</option>
                <option value="German">German</option>
                <option value="French">French</option>
                <option value="Italian">Italian</option>
                <option value="Portuguese">Portuguese</option>
            </select>
        </p>
<!--end of Languages Selection-->

<!--ESRB Ratings-->
        <p>
            <br>
            <span>Preferred ESRB Rating</span>
            <br>
            <select class="game-ratings form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="game-ratings" name="game-ratings" style="width: 100%">
                <option value=""></option>
                <option value="Rating Pending">RP - Rating Pending</option>
                <option value="Early Childhood">EC - Early Childhood</option>
                <option value="Everyone">E - Everyone</option>
                <option value="Everyone 10 & up">E10+ - Everyone (10 & up)</option>
                <option value="Teen (13 & up)">T - Teen (13 & up)</option>
                <option value="Mature (17 & up)">M - Mature (17 & up)</option>
                <option value="Adults Only (18 & up)">AO - Adults Only (18 & up)</option>
            </select>
            <br>
        </p>
<!--end of ESRB Ratings-->

<!--Mature language toggle-->
        <div class="form-check form-switch ">
            <input class="form-check-input" type="checkbox" id="mature-language">
            <label class="form-check-label" for="mature-language">Mature Language OK?</label>
        </div>
        <br>
        </p>
<!--end of Mature language toggle-->

<!--Platforms selection-->
        <p>
            <span>Platforms</span>
            <br>
            <select class="platforms form-select form-select-sm mb-3" id="platforms" size="4" aria-label=".form-select-sm example" multiple="multiple" style="width: 100%">
                <option value="PC">PC</option>
                <option value="Playstation">Playstation</option>
                <option value="Xbox">Xbox</option>
                <option value="Nintendo">Nintendo</option>
            </select>
        </p>
<!--end of Platforms selection-->

<!--Gamertag-->
        <p>
            <label for="gamertag">Enter your gamertag:</label>
            <br>
            <textarea type="text" class="form-control" id="gamertag" name="gamertag" rows="1"></textarea>
            <br>
        </p>
<!--end of Gamertag-->

<!--Biography-->
        <p>
            <label for="bio">Tell us a little about you:</label>
            <br>
            <textarea type="text" class="form-control" id="bio" name="bio" rows="3"></textarea>
            <br>
        </p>
<!--end of Biography-->
        <div class="text-center">
            <button id="edit-preferences-submit-button" type="button" class="btn btn-info btn-lg">Submit</button>
        </div>
    </div> <!--end of the dark gray bubble area -->
</div><!--end of Page Wrapper-->

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="module" th:src="@{/js/filestack.js}"></script>
<!--<script th:src="@{/js/preferences.js}"></script>-->
</body>
</html>