<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Preferences Page')"></div>
    <link rel="stylesheet" th:href="@{/css/preferences.css}">
</head>
<body>
<div th:replace="partials :: baseUrlFragment"></div>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">

    <title>Profile Preferences</title>

    <h1 class="text-center pt-5 my-5 outlined">Let's fill out your preferences</h1>
    <div hidden th:text="${preferences.id}" id="hidden-preferences-id"></div>

<!--map and overlays div-->
    <div class="container bg-dark rounded-3 p-5">
            <div class="mb-3">
                <p>
                    <div th:class="mapcontainer">
                        <img th:src="@{/preferences-map/pref-map.jpg}" th:class="map">
                        <img th:src="@{/preferences-map/pref-alaska-overlay.png}" th:class="overlay" th:id="AK">
                        <img th:src="@{/preferences-map/pref-arizona-overlay.png}" th:class="overlay" th:id="AZ">
                        <img th:src="@{/preferences-map/pref-atlantic-overlay.png}" th:class="overlay" th:id="AST">
                        <img th:src="@{/preferences-map/pref-central-overlay.png}" th:class="overlay" th:id="CT">
                        <img th:src="@{/preferences-map/pref-eastern-overlay.png}" th:class="overlay" th:id="ET">
                        <img th:src="@{/preferences-map/pref-hawaii-overlay.png}" th:class="overlay" th:id="HAST">
                        <img th:src="@{/preferences-map/pref-mountain-overlay.png}" th:class="overlay" th:id="MT">
                        <img th:src="@{/preferences-map/pref-pacific-overlay.png}" th:class="overlay" th:id="PT">
                    </div>
                </p>
<!--end of map and overlays div-->

<!--timezone dropdown-->
                <select id="locations" name="locations">
                    <option value="1">(UTC-10:00) Hawaii-Aleutian Standard Time</option>
                    <option value="2">(UTC-09:00) Alaskan Standard Time</option>
                    <option value="3">(UTC-8:00) Pacific Standard Time</option>
                    <option value="4">(UTC-7:00) Mountain Standard Time</option>
                    <option value="5">(UTC-7:00) Mountain ST Arizona</option>
                    <option value="6">(UTC-6:00) Central Standard Time</option>
                    <option value="7">(UTC-5:00) Eastern Standard Time</option>
                    <option value="8">(UTC-4:00) Atlantic Standard Time</option>
                </select>
                <label for="locations">Pick your time Zone</label>
<!--end of timezone dropdown-->
                <!--Puerto Rico, Virgin Islands,Hawaii and Arizona do not observe Daylight Savings Time, the Aleutian island do though-->
            </div>
            <div class="mb-3">
                <label for="languages">Pick your languages</label>
                <select id="languages" name="languages" multiple>
                </select>
            </div>
            <div class="mb-3">
                <label for="game-ratings">Select game rating</label>
                <select id="game-ratings" name="game-ratings">
                </select>
            </div>
            <div>
                Mature Language is Ok?
                <label class="switch">
                    <input id="mature-language" type="checkbox">
                    <span class="slider"></span>
                </label>
            </div><br>
            <div class="mb-3">
                <label for="platforms">Select game platform</label>
                <select id="platforms" name="platforms" multiple>
                </select>
            </div>
            <label for="gamertag">Enter your gamertag:</label>
            <input type="text" id="gamertag" name="gamertag"><br><br>
            <label for="bio">Tell us a little about you:</label><br>
            <textarea type="text" id="bio" name="bio" cols="40" rows="5"></textarea><br>
            <button id="edit-preferences-submit-button">Submit</button>
    </div>
</div><!--Page Wrapper-->

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script th:src="@{/js/preferences.js}"></script>
</body>
</html>