<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('My Profile')"></div>

    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">
    <div class="profile-container rainbow">
        <div class="profile-image rgb"></div>
             <img id="upload-profile-picture" th:src="@{/Icons/edit.png}" alt="">
        <div class="preferences rgb">
            <img id="location-icon" th:src="@{/Icons/location.png}" alt="">
<!--            Location -->
<!--            Languages -->
<!--            Game Rating -->
<!--            Profanity -->
        </div>
        <div class="info-container rgb">
            <div class="bio"></div>
            <div class="genres rgb"></div>
        </div>
        <div class="my-platforms"></div>
        <div class="my-games">
            <div class="inner-carousel">
                <div class="track">
                    <!--                    games populate here-->
                </div>
                <div class="nav">
                    <button class="prev"><img th:src="@{/Icons/next.png}"></button>
                    <button class="next"><img th:src="@{/Icons/next.png}"></button>
                </div>
            </div>
        </div>











<!--        Stroke inducing carousel -->

        <div class="carousel-container">
<!--            <div class="inner-carousel">-->
<!--                <div class="track">-->
<!--&lt;!&ndash;                    stuff goes here&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="nav">-->
<!--                    <button class="prev"><i class="fas fa-arrow-left fa-2x"></i></button>-->
<!--                    <button class="next"><i class="fas fa-arrow-right fa-2x"></i></button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

















</div>
<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:type="module" th:src="@{/js/filestack.js}"></script>
<script th:type="module" th:src="@{/js/profile.js}"></script>
</body>
</html>