<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Comrades Page')"></div>
    <link rel="stylesheet" th:href="@{/css/social.css}">
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>

        <!--  DIV CONTAINING BANNER AND ARROWS  -->

    <div id="page-wrapper">
        <div id="arrowsRect" class="arrows-rectangle">

            <div class="arrow-left"></div>

            <div class="rectangle">
                <p class="banner-text">COMRADES</p>
            </div>

            <div class="arrow-right"></div>
        </div>

        <!-- END OF DIV CONTAINING BANNER AND ARROWS     -->

        <!--  LEFT GRADIENT DIV   -->
        <div class="LeftTransparentDiv"></div>

        <!-- RIGHT GRADIENT DIV   -->
        <div class="RightTransparentDiv"></div>

        <!--  Section with User cards  -->
        <section class="card-slider-mask">
            <section id="card" class="row container" data-left="0" style="left:0px;"></section>
        </section>

    </div>

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script type="module" th:src="@{/js/comrades.js}"></script>
</body>
</html>
