<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Comrades Page')"></div>
    <link rel="stylesheet" th:href="@{/css/social.css}">
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">
    <div class="arrows-rectangle">

        <div class="arrow-left"></div>

        <div class="rectangle">
            <p>COMRADES</p>
        </div>

        <div class="arrow-right"></div>
    </div>
    
        <!--  Section with User cards  -->
    <section id="card" class="row container">
    </section>

</div>
<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script type="module" th:src="@{/js/comrades.js}"></script>
</body>
</html>