<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Recruits Page')"></div>
    <link rel="stylesheet" th:href="@{/css/social.css}">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
</head>
<body>

<div th:replace="partials :: baseUrlFragment"></div>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">
    <div class="rectangle">
        <p>REVIEW YOUR RECRUITS!</p>
    </div>

    <!-- Section with User cards -->
    <section id="card" class="row container">
    </section>

</div>

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script type="module" th:src="@{/js/recruits.js}"></script>
</body>
</html>
