<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Squad Chat')"></div>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">

    <div id="social-wrapper">
        <div id="squads-wrapper">
            Squads go here
        </div>
        <div id="recruits-wrapper">
            Recruits go here
        </div>
        <div id="comrades-wrapper">
            Comrades go here
        </div>
    </div>

</div>

<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
</body>
</html>
