<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Login')"></div>


</head>
<body>

<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">




    <div class="container pt-5 my-5">
        <div class="row g-5">
            <div class="col-12 col-lg-5">
<!--EDIT FROM JH changed from a container to card-log class for design-->
                <div class="card-log container rounded-3 p-5">
                    <h1 class="text-center text-light">Login</h1>
                    <!--Div that shows user they entered invalid parameters if it receives and error-->
                    <div th:if="${param.error}" class="text-light">
                        Invalid Username and Password.
                    </div>
                    <!--Div that shows message that a user has been logged out-->
                    <div th:if="${param.logout}" class="text-light">
                        You have been logged out.
                    </div>
                    <!--Div that shows message that a user has registered successfully-->
                    <div th:if="${param.registered}" class="text-light">
                        You have signed up successfully. Please log in with the username and password you just created.
                    </div>

                    <!--Login Form-->
                    <form class="form-log text-light" th:action="@{/login}" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" autocomplete="off">
                        </div>
                        <button id="loginPasswordSubmit" type="submit">Login</button>
                    </form>
                    <p id="notAUserToggle" class="text-light mt-5" style="cursor: pointer;">
                        Not a user? Click here to signup
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div id="signupContainer" class="card-sign container rounded-3 p-5" style="display: none;">
                    <h1 class="text-center text-light">Signup</h1>

                    <form class="form-sign text-light" th:action="@{/signup}" method="POST" th:object="${user}">
                        <div class="mb-3">
                            <label for="signupEmailAddress" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="signupEmailAddress" th:field="*{email}" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="signupUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="signupUsername" th:field="*{username}" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="signupPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="signupPassword" th:field="*{password}" autocomplete="off">
                            <div id="signupPasswordHelpLength" class="form-text">Must be at least 8 characters long</div>
                            <div id="signupPasswordHelpUppercaseLetter" class="form-text">Must contain at least 1 uppercase letter</div>
                            <div id="signupPasswordHelpLowercaseLetter" class="form-text">Must contain at least 1 lowercase letter</div>
                            <div id="signupPasswordHelpNumber" class="form-text">Must contain at least 1 number</div>
                            <div id="signupPasswordHelpSpecialCharacters" class="form-text">Must contain at least 1 special character: !@#$%^&*()-=_+</div>
                        </div>
                        <div class="mb-3">
                            <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="signupConfirmPassword">
                            <div id="passwordsMustMatch" class="form-text d-none" style="color: #F00;">Passwords must match</div>
                        </div>
                        <button id="signupPasswordSubmit" type="submit" disabled>Signup</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<nav th:replace="partials :: footer"></nav>

<div th:replace="partials :: scripts"></div>
<script th:src="@{/js/signup-form.js}"></script>

</body>
</html>