<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>


</head>
<body>
<div id="page-wrapper">




    <div class="container pt-5 my-5">
        <div class="row g-5">
            <div class="col-12 col-lg-5">
                <div class="container bg-dark rounded-3 p-5">
                    <h1 class="text-center text-light">Login</h1>
                    <!--    Div that shows user they entered invalid parameters if it receives and error-->
                    <div th:if="${param.error}" class="text-light">
                        Invalid Username and Password.
                    </div>
                    <!--    Div that shows message that a user has been logged out-->
                    <div th:if="${param.logout}" class="text-light">
                        You have been logged out.
                    </div>

                    <form class="text-light" th:action="@{/login}" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" autocomplete="off">
                        </div>
                        <button id="loginPasswordSubmit" type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <p id="notAUserToggle" class="text-light mt-5" style="cursor: pointer;">
                        Not a user? Click here to signup
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div id="signupContainer" class="container bg-dark rounded-3 p-5" style="display: none;">
                    <h1 class="text-center text-light">Signup</h1>

                    <form class="text-light" th:action="@{/signup}" method="POST" th:object="${user}">
                        <div class="mb-3">
                            <label for="signupEmailAddress" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="signupEmailAddress" th:field="*{email}" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="signupUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="signupUsername" th:field="*{username}" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="signupPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="signupPassword" th:field="*{password}" autocomplete="off">
                            <div id="signupPasswordHelpLength" class="form-text">Must be at least 8 characters long</div>
                            <div id="signupPasswordHelpUppercaseLetter" class="form-text">Must contain at least 1 uppercase letter</div>
                            <div id="signupPasswordHelpLowercaseLetter" class="form-text">Must contain at least 1 lowercase letter</div>
                            <div id="signupPasswordHelpNumber" class="form-text">Must contain at least 1 number</div>
                            <div id="signupPasswordHelpSpecialCharacters" class="form-text">Must contain at least 1 special character: !@#$%^&*()-=_+</div>
                        </div>
                        <div class="mb-3">
                            <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="signupConfirmPassword">
                            <div id="passwordsMustMatch" class="form-text d-none" style="color: #F00;">Passwords must match</div>
                        </div>
                        <button id="signupPasswordSubmit" type="submit" class="btn btn-primary" disabled>Signup</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script th:src="@{/js/signup-form.js}"></script>

</body>
</html>