<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Sign Up')"></div>
    <style> @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap'); </style>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">


    <h1 class="text-center pt-5 my-5 outlined">Sign Up to SquadUp!</h1>

    <div class="card-signtwo container rounded-3 p-5">
        <form class="form-signtwo text-light" th:action="@{/signup}" method="POST" th:object="${user}">
            <div class="mb-3">
                <label for="signupEmailAddress" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="signupEmailAddress" th:field="*{email}" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="signupUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="signupUsername" th:field="*{username}" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="signupPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="signupPassword" th:field="*{password}" autocomplete="off">
                <div id="signupPasswordHelpLength" class="form-text">Must be at least 8 characters long</div>
                <div id="signupPasswordHelpUppercaseLetter" class="form-text">Must contain at least 1 uppercase letter</div>
                <div id="signupPasswordHelpLowercaseLetter" class="form-text">Must contain at least 1 lowercase letter</div>
                <div id="signupPasswordHelpNumber" class="form-text">Must contain at least 1 number</div>
                <div id="signupPasswordHelpSpecialCharacters" class="form-text">Must contain at least 1 special character: !@#$%^&*()-=_+</div>
            </div>
            <div class="mb-3">
                <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="signupConfirmPassword">
                <div id="passwordsMustMatch" class="form-text d-none" style="color: #F00;">Passwords must match</div>
            </div>
            <button id="signupPasswordSubmit" type="submit" class="btn btn-primary" disabled>Signup</button>
        </form>

    </div>
</div>

<nav th:replace="partials :: footer"></nav>

<div th:replace="partials :: scripts"></div>
<script th:src="@{/js/signup-form.js}"></script>

</body>
</html>