<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('About-Us Page')"></div>
    <title>About Us</title>
</head>
<body>

<div class="cards">
    <div class="col">
        <div class="card-group border-success mb-8" style="max-width: 18rem;">
            <div class="card-header bg-transparent">THE Squad</div>
            <div class="card-body text-success">
                <p class="card-text">SquadUp brought to you by lonely gamers who found the power in making connections to level up their gaming experience. Helping lonely gamers one squad at a time. </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card-group border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">JACK GRAHAM</div>
            <img src="/nfts/Jack.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">jacks bio</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card-group border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">STEPHEN PFLUG</div>
            <img src="/nfts/Stephen.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">stephens bio</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card-group border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">AIDEN LUCE</div>
            <img src="/nfts/Adien.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">aidens bio</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card-group border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">CESAR LOPEZ</div>
            <img src="/nfts/Cesar.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">cesars bio</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card-group border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">JAZMINE HUDSON</div>
            <img src="/nfts/Jazmine.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">jazmines bio</p>
            </div>
        </div>
    </div>
</div>


<nav th:replace="partials :: footer"></nav>

<nav th:replace="partials :: siteBar"></nav>

<div th:replace="partials :: scripts"></div>

</body>
</html>