<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('About-Us Page')"></div>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <title>About Us</title>
</head>
<body>

<div class="card-group border-success bg-transparent justify-content-center">
    <div class="card-squad">
        <div class="card bg-transparent">
            <div class="card-body text-success text-center">
                <h2 class="title-adjust glow-text">THE Squad</h2>
<!--                <p class="card-text">-->
                <h5 class="text-adjust">
                    SquadUp is brought to you by lonely gamers who have discovered how connecting with others can level up their gaming experience.
                </h5>
                <br>
                <h5 class="text-adjust">
                    "Helping lonely gamers one squad at a time."
                </h5>
<!--                </p>-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card-profiles col-12 col-md-4 col-lg-2 bg-transparent" style="min-width: 224px">
                <div class="card-pro2 text rgb" style="max-height: fit-content">
                    <img src="/nfts/Jack.png" class="card-img" alt="Uh oH we lost Jack!">
                    <div class="card-body">
                        <h5 class="card-title glow-text">JACK GRAHAM</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dignissimos eveniet impedit iste itaque saepe? Adipisci amet cumque debitis doloribus modi mollitia repellat reprehenderit? Labore laboriosam nobis perspiciatis ullam?
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-profiles col-12 col-md-4 col-lg-2 bg-transparent" style="min-width: 224px">
                <div class="card-pro2 text rgb">
                    <img src="/nfts/Stephen.png" class="card-img" alt="Uh oH we lost Stephen!">
                    <div class="card-body">
                        <h5 class="card-title glow-text">STEPHEN PFLUG</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dignissimos eveniet impedit iste itaque saepe? Adipisci amet cumque debitis doloribus modi mollitia repellat reprehenderit? Labore laboriosam nobis perspiciatis ullam?
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-profiles col-12 col-md-4 col-lg-2 bg-transparent" style="min-width: 224px">
                <div class="card-pro2 text rgb">
                    <img src="/nfts/Jazmine.png" class="card-img" alt="Uh oH we lost Jaz!">
                    <div class="card-body">
                        <h5 class="card-title glow-text">JAZMINE HUDSON</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dignissimos eveniet impedit iste itaque saepe? Adipisci amet cumque debitis doloribus modi mollitia repellat reprehenderit? Labore laboriosam nobis perspiciatis ullam?
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-profiles col-12 col-md-4 col-lg-2 bg-transparent" style="min-width: 224px">
                <div class="card-pro2 text rgb">
                    <img src="/nfts/Cesar.png" class="card-img" alt="Uh oH we lost Cesar!">
                    <div class="card-body">
                        <h5 class="card-title glow-text">CESAR LOPEZ</h5>
                        <p class="card-text">
                            A proud founding father for SquadUp.pro. In my free time I like to play video games, watch sports, and hanging out with my son!
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-profiles col-12 col-md-4 col-lg-2 bg-transparent" style="min-width: 224px">
                <div class="card-pro2 text rgb">
                    <img src="/nfts/Adien.png" class="card-img" alt="Uh oH we lost Aiden!">
                    <div class="card-body">
                        <h5 class="card-title glow-text">AIDEN LUCE</h5>
                        <p class="card-text">
                            A member of the development team at SquadUp&#8482;. Some of my hobbies include, drawing, walking, dancing, and of course, playing video-games. My goal in web development is to create  efficient, user-friendly, and visually appealing websites.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav th:replace="partials :: footer"></nav>

<nav th:replace="partials :: siteBar"></nav>

<div th:replace="partials :: scripts"></div>

</body>
</html>