<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Contact-Us Page')"></div>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<div id="page-wrapper">
    <div class="g-5">
        <div class="col">
            <div class="card-body rounded-3 p-5">
                <h1 class="text-center text-success">Contact the SQUADUP support Team</h1>
                <div class="container">
                    <form class="card-con" id="contactUs" name="contactUs" th:action="@{/contact}" method="post">
                        <label for="fname"></label>
                        <input type="text" id="fname" name="fname" placeholder="First Name">
                        <label for="lname"></label>
                        <input type="text" id="lname" name="lname" placeholder="Last Name">
                        <label for="email"></label>
                        <input type="text" id="email" name="email" placeholder="Email Address">
                        <label for="phoneNumber"></label>
                        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
                        <label for="body"></label>
                        <textarea id="body" name="body" placeholder="Talk to us here"></textarea>
                        <button id="emailSend" type="submit" disabled>Send</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<nav th:replace="partials :: footer"></nav>
<nav th:replace="partials :: siteBar"></nav>
<div th:replace="partials :: scripts"></div>
<script th:src="@{/js/contact-us.js}"></script>
</body>
</html>