<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="partials :: headFragment('Home Page')"></div>
    <link rel="stylesheet" th:href="@{/css/games.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>
    <nav th:replace="partials :: siteBar"></nav>
    <div id="page-wrapper" class="card-head">
        <!--ROUGH DRAFT:::: to display Current User logged in-->
        <div class="card-pro">
            <div class="card-body user-info" sec:authorize="isAuthenticated()"><h1>Welcome back to HeadQuarters,
                    <span th:text="${#authentication.principal.username}"/>!</h1>

<!--                User ID: <span th:text="${#authentication.principal.id}"/><br>-->
<!--                Email: <span th:text="${#authentication.principal.email}"/>-->
            </div>
        </div>
        <div id="new-wrapper">












            <h2>My Games</h2>
            <div class="card-body">
                <!--ROUGH DRAFT::::Display User Games-->
                    <section class="card-slider-mask"></section>
                    <div id="my-games" class="row" data-left="0" style="left:0px;"></div>
                </div>
            </div>
            <h2>Check on your Comrades</h2>
            <div class="card-body">
<!--                <div class="arrow-left" id="com-L-arrow"></div>-->
                <!--ROUGH DRAFT::::Displaying Comrades-->
                <section id="card-com" class="row"></section>

<!--                <div class="arrow-right" id="con-R-arrow"></div>-->
<!--                    </section>-->

            </div>
            <h2>Check out these new recruits</h2>
            <div class="card-body">
<!--                <div class="arrow-left" id="rec-L-arrow"></div>-->
                    <!--ROUGH DRAFT::::Displaying New Recruits-->
                    <section id="card-rec" class="row ">
                    </section>
<!--                <div class="arrow-right" id="rec-R-arrow"></div>-->
                </div>
    </div>

            ROUGH DRAFT::::Displaying Squads




<nav th:replace="partials :: footer"></nav>
<div th:replace="partials :: scripts"></div>
<script th:type="module" th:src="@{/js/games.js}"></script>
<script type="module" th:src="@{/js/dashboard.js}"></script>
</body>
</html>

