<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Splash Page')"></div>
<link th:href="@{/css/splash.css}" rel="stylesheet">
</head>

<body>
<nav th:replace="partials :: siteBar"></nav>
<!-- Main Title -->
<div>
    <h1 class="jumbotron center">SQUADUP</h1>
</div>
<!-- Video/Gif -->
<div class="center">
    <div class="box" style="height: 566px; width: 1018px;">
        <!-- Insert Image-->
    </div>
</div>
<div class="center">
    <p id="statement">At SquadUp, we pride ourselves on creating a friendly environment to meet like-minded individuals for both casual and competitive gamers.</p>
</div>
<div class="center space">
    <div class="box" id="feature1">
        <!-- Insert Image-->
    </div>
</div>
<div class="center space">
    <div class="box" id="feature2">
        <!-- Insert Image-->
    </div>
</div>
<div class="center space">
    <div class="box" id="feature3">
        <!-- Insert Image-->
    </div>
</div>


<div th:replace="partials :: scripts"></div>
</body>
</html>