<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Error</title>
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/forms.css}">
  <link rel="stylesheet" th:href="@{/css/errors.css}">
</head>
<body>

  <h1>Something went wrong! </h1>
  <h2>Click "Go Home" While The Squad Fixes The Problem!</h2>
  <a href="/">Go Home</a>


  <div th:replace="partials :: scripts"></div>
</body>
</html>