#new-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 20px;
}

h2 {
    text-align: center;
    color: var(--bs-gamergreen);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: ridge 12px;
    /*border: outset 12px;*/
    border-color: var(--bs-gamergreen) !important;
    /*background: rgba(33, 37, 41, .3);*/
    padding: 40px;
    margin: 20px;
    margin-top: 5px;
    /*width: 360px;*/
}

.card-pro {
    border: ridge 12px;
    border-color: var(--bs-lighterpurp) !important;
}

.card-slider-mask {
    margin: 0 20px;
    max-width: calc(100% - 40px);
    overflow:hidden;
}
.arrow-left{
    display: flex;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #00fff7;
    opacity: 60%;
    position: absolute;
    margin-right: 90vw;
}

.arrow-right{
    display: flex;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #00fff7;
    opacity: 60%;
    position: absolute;
    margin-left: 90vw;
}

/*GAMES SECTION*/
.card-body{
    overflow: hidden;
    /*width: 100%;*/
    text-align: center;
    display: flex;
    flex-wrap:nowrap;
    /*flex-wrap: wrap;*/
    /*align-items:center;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    border: ridge 12px;
    border-color: var(--bs-lighterpurp) !important;
    transition: all ease .3s;
}

.add-game-button, .favorite-game-button, .remove-game-button, #remove {
    /*TAKEN FROM FROMS.CSS MAKE IT SIMPLE ONCE CLEAN============*/
    margin: 2%;
    border: var(--bs-gamergreen) ridge 5px;
    border-radius: 8px;
    background-color: dimgray;
}

button:active {
    box-shadow: 0 5px black;
    transform: translate(4px);
}

#accept:hover{
    color: #03ff00;
}

#remove:hover, #reject:hover{
    color: #FF0000;
}


/*END OF GAME SECTION*/

/*COMRADES/RECRUITS SECTION*/


#card-com, #card-rec{
    display: contents;
    margin: auto;
    /*column-gap: 25px;*/
}

.su-card {
    height: 450px;
    width: 670px;
    display: flex;
    flex-direction: column;
    border: 5px ridge #03ff00;
    border-radius: 3px;
    padding: 15px;
    margin: 30px;
}

.su-card:nth-child(odd) {
    border: purple ridge 5px;
}

.su-card-top, .su-card-middle, .su-card-bottom {
    display: flex;
}

.su-card-middle {
    flex: 1 0 auto;
    overflow: hidden;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
}
.su-card-games-list {
    display: flex;
    column-gap: 10px;
    flex: none;
    height: 100%;
    align-items: center;
}
.su-card-game {
    width: 117px;
}
.su-card-bottom {
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}
img.card-img-top {
    height: 125px;
    width: 125px;
    border-radius: 59px;
}
.su-card-col {
    flex: 1 0 0;
}
.su-card-col-shrink {
    flex: 0 1 0;
}
.su-card-top {
    column-gap: 20px;
}






