#new-wrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: ridge 12px;
    /*border: outset 12px;*/
    border-color: var(--bs-gamergreen) !important;
    /*background: rgba(33, 37, 41, .3);*/


    margin: 20px;
    width: 360px;
}
/*GAMES SECTION*/
.dash-cam{
    justify-content: center;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.card-head {

}

.add-game-button, .favorite-game-button, .remove-game-button  {
    /*TAKEN FROM FROMS.CSS MAKE IT SIMPLE ONCE CLEAN============*/
    margin: 2%;
    border: var(--bs-gamergreen) ridge 5px;
    border-radius: 8px;
    background-color: dimgray;
}

button:active {
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

/*END OF GAME SECTION*/

/*COMRADES/RECRUITS SECTION*/


#card-com, #card-rec{
    display:flex;
    column-gap: 25px;
}

.su-card {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 3px solid #03ff00;
    border-radius: 3px;
    padding: 15px;
}
.su-card-top, .su-card-middle, .su-card-bottom {
    display: flex;
}

.su-card-middle {
    flex: 1 0 auto;
    overflow: hidden;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
}
.su-card-games-list {
    display: flex;
    column-gap: 10px;
    flex: none;
    height: 100%;
    align-items: center;
}
.su-card-game {
    width: 117px;
}
.su-card-bottom {
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}
img.card-img-top {
    height: 125px;
    width: 125px;
    border-radius: 59px;
}
.su-card-col {
    flex: 1 0 0;
}
.su-card-col-shrink {
    flex: 0 1 0;
}
.su-card-top {
    column-gap: 20px;
}