/*edits for about us page*/


/*About Us page edits*/


.card-squad {
    margin-top: 10%;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: ridge 12px;
    border-color: var(--bs-gamergreen) !important;
    background: rgba(33, 37, 41, .3);
}

.card-title, .card-text {
    border-bottom: whitesmoke solid 2px;
    text-align: center;
    color: whitesmoke;
}

.card-pro {
    border: ridge 12px;
    border-color: var(--bs-lighterpurp) !important;
    margin-top: 5%;
    margin-bottom: 30%;
}
 /*END of About us edits*/

/*=========button format for form pages==========*/
#emailSend, #signupPasswordSubmit, #loginPasswordSubmit {
    margin: 2%;
    border: var(--bs-gamergreen) ridge 5px;
    border-radius: 8px;
    background-color: dimgray;
}

button:active {
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

/*=========text input format for form pages login and contact us==========*/

input {
    margin: inherit;
    overflow: hidden;
}

textarea {
    width: auto;
    margin: 2%;
    height: 200px;
}

/*------------------Form edits START 1st Contacts Page 2nd Login and Sign up Pages----------------------------------*/
#emailSend {
    margin-top: 5%;
    width: 95%;
}

.card-con {
    border: purple ridge 10px;
    min-width: 50%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    background: rgba(33, 37, 41, .3);
}


#fname, #lname, #email, #phoneNumber {
    margin: 2%;
}

/*==========================================================*/
/*Login Form and Sign In Form*/
.card-log, .card-sign, .card-signtwo{
    margin: auto;
    border: ridge 12px;
    border-color: var(--bs-gamergreen) !important;
}

.form-log, .form-sign, .form-signtwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: purple ridge 10px;
    padding-top: 5%;
    padding-bottom: 10%;
}


/*===================Switch toggle for preferences page ==========*/
            /*check to see if still being utilized*/
/*The switch - the box around the slider */
/*.switch {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 60px;*/
/*    height: 25px;*/
/*}*/

/*!*The switch - Hide default HTML checkbox *!*/
/*.switch input {*/
/*    opacity: 0;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

/*!* The switch - slider *!*/
/*.slider {*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: #ccc;*/
/*    -webkit-transition: .4s;*/
/*    transition: .4s;*/
/*}*/

/*.slider:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    height: 17px;*/
/*    width: 26px;*/
/*    left: 4px;*/
/*    bottom: 4px;*/
/*    background-color: white;*/
/*    -webkit-transition: .4s;*/
/*    transition: .4s;*/
/*}*/

/*input:checked + .slider {*/
/*    background-color: #41f307;*/
/*}*/

/*input:focus + .slider {*/
/*    box-shadow: 0 0 1px #2196F3;*/
/*}*/

/*input:checked + .slider:before {*/
/*    -webkit-transform: translateX(26px);*/
/*    -ms-transform: translateX(26px);*/
/*    transform: translateX(26px);*/
/*}*/
/*End of switch*/


