
:root {
    --bs-gamergreen: rgba(92, 253, 66, 1);
    --bs-gamerpurp: rgb(63, 5, 79);
    --bs-lighterpurp: #800080FF;
}

/*navbar edits*/
.navbar{
    display: flex;
    align-items: center;
}

.text-success {
    color: var(--bs-gamergreen) !important;
}

.navbar, a:hover {
    color: #5CFD42;
    border-top: var(--bs-gamergreen) solid 2px;
    border-bottom: var(--bs-gamergreen) solid 2px;
}

.navbar, #site-bar-logout-link:hover {
    color: purple;
    border-top: purple solid 4px;
    border-bottom: purple solid 4px;
}


#footer{
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
}
.foot-link {
    text-decoration: none;
    color: whitesmoke;
    /*padding-bottom: 10px;*/
}


#page-wrapper {
    margin: 60px 0px;
    color: white;
}

body {
    font-family: Chakra Petch, sans-serif;
    /*color: white; this can't be here because it will make the unordered list in the footer dots visible*/
}

/**/