body {
    color: chartreuse;
}

.mapcontainer {
    position: relative;
    top: 0;
    left: 20%;
}

/*make this at 100% for mobile view*/
.map {
    height: 60%;
    width: 60%;
    position: relative;
    top: 0;
    left: 0;
}

.overlay {
    height: 100%;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
}

/*.languages {*/
/*    width: 100%!important;*/
/*}*/