body {
    color: black;

}

.mapcontainer {
    position: relative;
    top: 0;
    left: 20%;
}

/*make this at 100% for mobile view*/
.map {
    height: 60%;
    width: 60%;
    position: relative;
    top: 0;
    left: 0;
}

.overlay {
    height: 100%;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
}

#gamertag, #bio {
    width: 100%;
}

.pref {
    /*font-size: 80px;*/
    color: #fff;
    /*text-align: center;*/
    animation: glow-text 20s linear 0s infinite;
}

.titulo{
    margin: auto;
    padding-left: 29%;
    margin-bottom: 1vw;
}
.titlepref {
    /*font-size: 80px;*/
    color: #fff;
    /*text-align: center;*/
    animation: glow-text 20s linear 0s infinite;

    font-size: 3vw;
}

@keyframes glow-text {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
    12.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff8000, 0 0 40px #ff8000, 0 0 50px #ff8000, 0 0 60px #ff8000, 0 0 70px #ff8000;
    }
    25% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffea00, 0 0 40px #ffea00, 0 0 50px #ffea00, 0 0 60px #ffea00, 0 0 70px #ffea00;
    }
    37.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #37ff00, 0 0 40px #37ff00, 0 0 50px #37ff00, 0 0 60px #37ff00, 0 0 70px #37ff00;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00fff7, 0 0 40px #00fff7, 0 0 50px #00fff7, 0 0 60px #00fff7, 0 0 70px #00fff7;
    }
    65.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0077ff, 0 0 40px #0077ff, 0 0 50px #0077ff, 0 0 60px #0077ff, 0 0 70px #0077ff;
    }
    75% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8251ff, 0 0 40px #8251ff, 0 0 50px #8251ff, 0 0 60px #8251ff, 0 0 70px #8251ff;
    }
    87.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600ff, 0 0 40px #e600ff, 0 0 50px #e600ff, 0 0 60px #e600ff, 0 0 70px #e600ff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
}

/* Input field */
.select2-selection__rendered {
    color: #000000;
}

/* Around the search field */
.select2-search {
    color: #000000;
}

/* Search field */
.select2-search input {
    color: #000000;
}

/* Each result */
.select2-results {
    color: #000000;
}

/* Higlighted (hover) result */
.select2-results__option--highlighted {
    color: #000000;
}

/* Selected option */
.select2-results__option[aria-selected=true] {
    color: #000000;
}



@media (width <= 430px) {

    .titlepref {
        font-size: 5vw;
    }

    .titulo {
        padding-left: 15%;
        margin-bottom: 3vw;
    }
}

