.profile-container{
    height: 46vw;
    width: 95%;
    border: solid #5CFD42 .5vw;
    margin: auto;
}
.flexIt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image{
    height: 15vw;
    width: 15vw;
    margin-top: 2vw;
    margin-left: 3vw;
    border: solid #5CFD42 .3vw;
    border-radius: 50%;
    background-image: url("https://i.pinimg.com/736x/f6/36/c5/f636c584c3ef183b0a6f4b4754d4fcce.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;

}
.bio-container{
    border: solid #5CFD42 .3vw;
    height: 20vw;
    width: 80vw;
    position: absolute;
    margin-top: 7vw;
    margin-left: 10vw;
    z-index: -3;
}