.profile-container{
    height: 46vw;
    width: 95%;
    border: solid #5CFD42 .5vw;
    margin: auto;
}
.flexIt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image{
    height: 15vw;
    width: 15vw;
    margin-top: 2vw;
    margin-left: 3vw;
    border: solid #5CFD42 .3vw;
    border-radius: 50%;
    background-image: url("https://i.pinimg.com/736x/f6/36/c5/f636c584c3ef183b0a6f4b4754d4fcce.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;

}
.info-container{
    border: solid #5CFD42 .3vw;
    height: 20vw;
    width: 80vw;
    position: absolute;
    margin-top: 6vw;
    margin-left: 10vw;
    z-index: -3;
}
.gamertag{
    color: #5CFD42;
    font-size: 4vw;
    position: absolute;
    height: 4vw;
    width: 40vw;
    margin-top: 1vw;
    margin-left: 10vw;
    display: flex;
    align-items: center;
}
.bio{
    color: #5CFD42;
    font-size: 1.5vw;
    position: absolute;
    margin-top: 7vw;
    margin-left: 10vw;
    height: 12vw;
    width: 40vw;

}
.genres{
    border: solid #5CFD42 0.3vw;
    height: 15vw;
    width: 22vw;
    margin-left: 55vw;
    margin-top: 2vw;
    position: absolute;
    display: flex;
    justify-content: center;
}
.genres div{
    font-size: 3vw;
    color: #5CFD42;
    position: absolute;
}
.genres ul{
    font-size: 2vw;
    color: #000000;
    position: absolute;
    margin-top: 5vw;
    -webkit-text-stroke: 0.1vw #5cfd42;
    list-style: none;
}
.favorite-game{
    background-image: url("https://assets1.ignimgs.com/2018/03/06/fortnite---button-1520296499714.jpg");
    height: 24vw;
    width: 18vw;
    background-size: cover;
    background-position: center;
    margin-top: 20vw;
    margin-left: 1vw;
    border: solid #5CFD42 0.3vw;
}
.my-platforms{
    color: #5CFD42;
    font-size: 2vw;
    margin-top: 26vw;
    margin-left: 20vw;
    position: absolute;
}
.icon{
    width: 2vw;
    height: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: solid #5CFD42 0.2vw;
}
/*.bi::before{*/
/*    position: absolute;*/
/*    margin-left: 18vw;*/
/*    margin-top: 2vw;*/
/*    color: #5cfd42;*/
/*}*/
.preferences{
    border: 0.3vw solid ;
    color: #5cfd42;
    width: 72vw;
    height: 3vw;
    margin-top: 3vw;
    margin-left: 18vw;
    position: absolute;
    display: flex;
}
.location{
}
.languages{
    display: flex;
}
.language{
    padding: 0vw 3vw;
}
.game-rating{}
.mature-language{}
.game{
    color: white;
    border:0.3vw solid #5cfd42;
    height:5vw;
    width: 5vw;
}








