.profile-container{
    height: 46vw;
    width: 95%;
    border: solid #5CFD42 .5vw;
    margin: auto;
}
#page-wrapper{
    display: flex;
}
.profile-image{
    height: 15vw;
    width: 15vw;
    margin-top: 2vw;
    margin-left: 3vw;
    border: solid #5CFD42 .3vw;
    border-radius: 50%;
    background-image: url("https://i.pinimg.com/736x/f6/36/c5/f636c584c3ef183b0a6f4b4754d4fcce.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;

}
.info-container{
    border: solid #5CFD42 .3vw;
    height: 20vw;
    width: 80vw;
    position: absolute;
    margin-top: 6vw;
    margin-left: 10vw;
    z-index: -3;
}
.gamertag{
    color: #5CFD42;
    font-size: 4vw;
    position: absolute;
    height: 4vw;
    width: 40vw;
    margin-top: 1vw;
    margin-left: 10vw;
    display: flex;
    align-items: center;
}
.bio div{
    color: #5CFD42;
    font-size: 1.5vw;
    position: absolute;
    margin-top: 7vw;
    margin-left: 10vw;
    height: 12vw;
    width: 40vw;

}
.genres{
    border: solid #5CFD42 0.3vw;
    height: 15vw;
    width: 22vw;
    margin-left: 55vw;
    margin-top: 2vw;
    position: absolute;
    display: flex;
    justify-content: center;
}
.genres h3{
    font-size: 2vw;
    color: #5CFD42;
    position: absolute;
}
.genres div{
    margin-top: 3vw;

}
.genres  span{
    font-size: 1.5vw;
    color: #000000;
    /*position: absolute;*/
    margin-left: .5vw;
    -webkit-text-stroke: 0.1vw #5cfd42;
}
.favorite-game{
    height: 24vw;
    width: 18vw;
    background-size: cover;
    background-position: center;
    margin-top: 20.5vw;
    margin-left: 4vw;
    position: absolute;
    border: solid #5CFD42 0.3vw;
}
.my-platforms{
    color: #5CFD42;
    font-size: 2vw;
    margin-top: 26vw;
    margin-left: 20vw;
    position: absolute;
}
.icon{
    width: 2vw;
    height: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: solid #5CFD42 0.2vw;
}
.preferences{
    border: 0.3vw solid ;
    color: #5cfd42;
    width: 72vw;
    height: 3vw;
    margin-top: 3vw;
    margin-left: 18vw;
    /*padding: 0vw 0.5vw;*/
    justify-content: space-evenly;
    position: absolute;
    display: flex;
}
.location{
}
.language{
    padding: 0vw 3vw;
}
/*.game-rating{}*/
.mature-language{}
.my-games{
    color: white;
    border: 0.3vw solid #5cfd42;
    height: 15vw;
    width: 70vw;
    margin-top: 29vw;
    margin-left: 20vw;
    position: absolute;
    display: flex;
    overflow: auto;
}
.game{
    border: 0.3vw solid #5cfd42;
    margin-right: 0.5vw;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 11vw;
}








