.signup {
    /*font-size: 80px;*/
    color: #fff;
    /*text-align: center;*/
    animation: glow-text 20s linear 0s infinite;
    margin-bottom: 3vw;
}

@keyframes glow-text {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
    12.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff8000, 0 0 40px #ff8000, 0 0 50px #ff8000, 0 0 60px #ff8000, 0 0 70px #ff8000;
    }
    25% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffea00, 0 0 40px #ffea00, 0 0 50px #ffea00, 0 0 60px #ffea00, 0 0 70px #ffea00;
    }
    37.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #37ff00, 0 0 40px #37ff00, 0 0 50px #37ff00, 0 0 60px #37ff00, 0 0 70px #37ff00;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00fff7, 0 0 40px #00fff7, 0 0 50px #00fff7, 0 0 60px #00fff7, 0 0 70px #00fff7;
    }
    65.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0077ff, 0 0 40px #0077ff, 0 0 50px #0077ff, 0 0 60px #0077ff, 0 0 70px #0077ff;
    }
    75% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8251ff, 0 0 40px #8251ff, 0 0 50px #8251ff, 0 0 60px #8251ff, 0 0 70px #8251ff;
    }
    87.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600ff, 0 0 40px #e600ff, 0 0 50px #e600ff, 0 0 60px #e600ff, 0 0 70px #e600ff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
}

.su-outer {
    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 3vw;
    border: solid 8px;
}

.form-signtwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid 8px;
    border-radius: 10px;
    padding: 5%;
    padding-bottom: 10%;
}

#signupPasswordSubmit{
    margin: auto;
    width: 12%;
    border-radius: 8px;
    border-style:solid;
    color: white;
    animation: rgb-background 20s linear 0s infinite;

}


.rgb-background {
    animation: rgb 20s linear 0s infinite;
}

@keyframes rgb-background {
    from {
        background-color: #ff0000;
    }
    12.5% {
        /*border-color: #0099ff;*/
        background-color: #ff8000;
    }
    25% {
        /*border-color: #0099ff;*/
        background-color: #ffea00;
    }
    37.5% {
        background-color: #37ff00;
    }
    50% {
        background-color: #00fff7;
    }
    65.5% {
        background-color: #0077ff;
    }
    75% {
        background-color: #8251ff;
    }
    87.5% {
        background-color: #e600ff;
    }
    100% {
        background-color: #ff0000;
    }
}


@media (width <= 430px) {

    .su-outer {

        margin-left: 5vw;
        margin-right: 5vw;
        padding: 5vw;

    }

    #signupPasswordSubmit{
        width: 40%;
    }

}