/** Rectangle 86 *!*/

.rectangle {
    position: absolute;
    width: 669px;
    height: 70px;
    left: 548px;
    top: 225px;
    text-align: center;
    padding: 15px 0;

    background: #8F8F8F;
    border: 8px solid #5CFD42;
    backdrop-filter: blur(2px);
}

.arrow-left{
    width: 15%;
    height: 15%;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-right: 60px solid #05FF00;
}

.arrow-right{
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-left: 60px solid #05FF00;
}

#card {

}
