

.arrows-rectangle{
    padding: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p{
    padding-top: .5em;
    font-size: 200%;
    font-weight: 500;
    color: #000000;
    -webkit-text-stroke: .5px #05FF00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle {
    text-align: center;
    padding: 5px 0;
    width: 50%;

    background: #8F8F8F;
    border: 8px solid #5CFD42;
    backdrop-filter: blur(2px);
}

.arrow-left{
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-right: 60px solid #05FF00;
}

.arrow-right{
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-left: 60px solid #05FF00;
}

#card {
    display:flex;
    column-gap: 25px;
}

.su-card {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 3px solid #03ff00;
    border-radius: 3px;
    padding: 15px;
}
.su-card-top, .su-card-middle, .su-card-bottom {
    display: flex;
}

.su-card-middle {
    flex: 1 0 auto;
    overflow: hidden;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
}
.su-card-games-list {
    display: flex;
    column-gap: 10px;
    flex: none;
    height: 100%;
    align-items: center;
}
.su-card-game {
    width: 117px;
}
.su-card-bottom {
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}
img.card-img-top {
    height: 125px;
    width: 125px;
    border-radius: 59px;
}
.su-card-col {
    flex: 1 0 0;
}
.su-card-col-shrink {
    flex: 0 1 0;
}
.su-card-top {
    column-gap: 20px;
}