#page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    color: #5CFD42;
}

#social-wrapper {
    width: 96vw;
    height: calc(96vh - 120px);
    min-height: 575px;
    border: solid #5CFD42 .36vw;
    position: relative;
    display: flex;
}

.wrapper-container {
    position: relative;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////// Recruits Section ///////////////////////////////////////////////////*/
#recruits-wrapper {
    width: 100%;
    overflow: hidden;
    border-right: solid #5CFD42 .36vw;
    border-left: solid #5CFD42 .36vw;
}

#recruits-content{
    overflow: hidden;
}

/*.arrow{*/
/*    position: absolute;*/
/*    z-index: 10;*/
/*    top: 5em;*/
/*}*/

/*.arrow-left, .arrow-left-img{*/
/*    height: 4vw;*/
/*    width: 4vw;*/
/*    position: absolute;*/
/*    margin-left: -2vw;*/
/*    margin-top: -2vw;*/
/*    max-width: none;*/
/*    transform: rotate(180deg);*/
/*}*/

/*.arrow-right, .arrow-right-img{*/
/*    right: 0;*/
/*    height: 4vw;*/
/*    width: 4vw;*/
/*    position: absolute;*/
/*    margin-left: -2vw;*/
/*    margin-top: -2vw;*/
/*    max-width: none;*/
/*}*/

        /*  STYLING FOR CARDS AND CARD CONTENTS  */

.card-slider-mask {
    padding-top: 9vh;
    margin: 0 20px;
    max-width: calc(100% - 40px);
    overflow-x: scroll;
}

#card {
    display:flex;
    flex-wrap: nowrap;
    column-gap: 25px;
    position: relative;
    transition: all ease .3s;
}

.su-card {
    height: 450px;
    min-width: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 3px ridge #5CFD42;
    border-radius: 3px;
    padding: 15px;
}

p.card-text, h4{
    color: #5CFD42;
}

.su-card-top, .su-card-middle, .su-card-bottom {
    display: flex;
}

/*  BELOW IS WHERE IT MAKES THE GAMES INSIDE THE CARDS SCROLLABLE!!: */
.su-card-middle {
    flex: 1 0 auto;
    overflow: hidden;
    overflow-x: scroll;
}
/*    ^^^^^^^^^^^^     */

.su-card-games-list {
    display: flex;
    column-gap: 10px;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
    flex: none;
    height: 100%;
    align-items: center;
}

.su-card-game {
    width: 117px;
}

.su-card-bottom {
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}

img.card-img-top {
    height: 125px;
    width: 125px;
    border-radius: 59px;
}

.su-card-col {
    flex: 1 0 0;
}

.su-card-col-shrink {
    flex: none;
}

.su-card-top {
    column-gap: 20px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////// Recruits Section Ends ///////////////////////////////////////////////////*/

.social-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    border-bottom: solid #5CFD42 .36vw;
}

.social-side-container {
    min-width: 10em;
    height: 100%;
    overflow: hidden;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SQUADS AND COMRADE STYLING */
.solo-squad-img, .solo-com-img, .solo-pending-squad-img {
    border: solid 0.3vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    width: 7em;
}

.solo-squad, .solo-com {
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-wrapper::-webkit-scrollbar{
    display: none;
}


.side-content {
    width: 100%;
}

.squad-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36em;
    transform: translate(-50%, -50%);
    z-index: 12;
    border-radius: 16px;
    padding: 2vh;
    border: 1px solid;

}

.add-modal-title {
    border-bottom: 4px;
    font-size: xx-large;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-modal-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-squad-name-input {
    width: 20em;
    margin: 0 0.5em;
}

.add-modal-squad-img-wrapper>div, .modal-squad-img-wrapper>div {
    margin-left: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
}

.add-modal-squad-img, .modal-squad-img {
    position: absolute;
    top: 0;
    left: 0;
}

.modal-user-img {
    width: 4em;
}

.add-modal-squad-invites-wrapper {
    width: 100%;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0.5em;
}

.invite-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.invite-mask {
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}

.invite-container {
    display: flex;
    align-items: center;
    height: 6em;
}

.single-user-wrapper {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squad-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    z-index: 10;
}

.hidden {
    display: none;
}

.darken {
    filter: brightness(50%);
}

.modal-title {
    font-size: xx-large;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.modal-squad-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.modal-squad-invites-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-squad-chat-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.modal-squad-chat-btn {
    margin-left: auto;
}

.modal-squad-img-wrapper {
    flex: 1;
}

.modal-squad-img {
    margin-right: auto;
    width: 6em;
}

#upload-squad-picture {
    z-index: 5;
    pointer-events: none;
    width: 4em;
    height: 4em;
}

@media only screen and (max-width: 600px) {
    #social-wrapper {
        flex-direction: column;
    }

    .social-title {
        display: none;
    }

    .side-wrapper {
        flex-direction: row;
    }

    .side-content {
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .side-content h5 {
        display: none;
    }

    .social-side-container {
        width: 100%;
        height: auto;
        flex-display: row;
    }

    .solo-squad, .solo-com {
        width: 5em;
        margin: 1em;
    }

    .card-slider-mask {
        padding-top: 0;
    }

    .su-card {
        width: 85vw;
        min-width: 85vw;
    }

    #recruits-wrapper {
        border: none;
    }

    .squad-modal {
        width: 96vw;
    }

    #social-wrapper {
        height: auto;
    }
}

