#page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-wrapper {
    width: 96vw;
    height: calc(96vh - 120px);
    border: solid #5CFD42 .36vw;
    position: relative;
    display: flex;
}

.wrapper-container {
    position: relative;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////// Recruits Section ///////////////////////////////////////////////////*/
#recruits-wrapper {
    flex-grow: 1;
    overflow: hidden;
    border-right: solid #5CFD42 .36vw;
    border-left: solid #5CFD42 .36vw;
}

.arrow{
    position: absolute;
    z-index: 10;
    top: 5em;
}

.arrow-left, .arrow-left-img{
    height: 4vw;
    width: 4vw;
    position: absolute;
    margin-left: -2vw;
    margin-top: -2vw;
    max-width: none;
    transform: rotate(180deg);
}

.arrow-right, .arrow-right-img{
    right: 0;
    height: 4vw;
    width: 4vw;
    position: absolute;
    margin-left: -2vw;
    margin-top: -2vw;
    max-width: none;
}

        /*  STYLING FOR CARDS AND CARD CONTENTS  */

.card-slider-mask {
    padding-top: 9vh;
    margin: 0 20px;
    max-width: calc(100% - 40px);
    overflow:hidden;
}

#card {
    display:flex;
    flex-wrap: nowrap;
    column-gap: 25px;
    position: relative;
    transition: all ease .3s;
}

.su-card {
    height: 450px;
    min-width: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 3px ridge #5CFD42;
    border-radius: 3px;
    padding: 15px;
}

p.card-text, h4{
    color: #5CFD42;
}

.su-card-top, .su-card-middle, .su-card-bottom {
    display: flex;
}

/*  BELOW IS WHERE IT MAKES THE GAMES INSIDE THE CARDS SCROLLABLE!!: */
.su-card-middle {
    flex: 1 0 auto;
    overflow: hidden;
    overflow-x: scroll;
}
/*    ^^^^^^^^^^^^     */

.su-card-games-list {
    display: flex;
    column-gap: 10px;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
    flex: none;
    height: 100%;
    align-items: center;
}

.su-card-game {
    width: 117px;
}

.su-card-bottom {
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}

img.card-img-top {
    height: 125px;
    width: 125px;
    border-radius: 59px;
}

.su-card-col {
    flex: 1 0 0;
}

.su-card-col-shrink {
    flex: none;
}

.su-card-top {
    column-gap: 20px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////// Recruits Section Ends ///////////////////////////////////////////////////*/

.social-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    border-bottom: solid #5CFD42 .36vw;
}

.social-side-container {
    height: 100%;
    overflow: hidden;
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SQUADS AND COMRADE STYLING */
.solo-squad-img, .solo-com-img {
    border: solid 0.3vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.solo-squad, .solo-com {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-wrapper::-webkit-scrollbar{
    display: none;
}


.side-content {
    width: 100%;
}