#page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    color: #5CFD42;
}
/*SOCIAL BUTTONS================*/
#accept,
#reject,
.modal-squad-chat-btn,
.modal-squad-disband-btn,
.add-modal-squad-create-btn,
.modal-squad-invite-accept-btn,
.modal-squad-invite-reject-btn {
    /*TAKEN FROM FROMS.CSS MAKE IT SIMPLE ONCE CLEAN============*/
    border: gray inset 4px;
    color: white;
    background-color: black;
    border-radius: 8px;
}

#accept:active,
#reject:active,
.modal-squad-chat-btn:active,
.modal-squad-disband-btn:active,
.add-modal-squad-create-btn:active
.modal-squad-invite-accept-btn:active,
.modal-squad-invite-reject-btn:active{
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

.modal-squad-chat-btn,
.modal-squad-disband-btn,
.modal-squad-invite-accept-btn,
.modal-squad-invite-reject-btn {
    animation: rgb 20s linear 0s infinite;
}

#accept:hover,
.modal-squad-chat-btn:hover,
.modal-squad-invite-accept-btn:hover,
.add-modal-squad-create-btn:hover {
    background-color: #5CFD42;
    color: black;
}

#reject:hover,
.modal-squad-disband-btn:hover,
.modal-squad-invite-reject-btn:hover {
    background-color: #FF0000;
    color: black;
}

/*--------------------------*/

#social-wrapper {
    width: 96vw;
    height: calc(96vh - 120px);
    min-height: 575px;
    border: solid #5CFD42 .36vw;
    position: relative;
    display: flex;
    border-radius: 10px;
}

.wrapper-container {
    position: relative;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////// Recruits Section ///////////////////////////////////////////////////*/
#recruits-wrapper {
    width: 100%;
    overflow: hidden;
    border-right: solid #5CFD42 .36vw;
    border-left: solid #5CFD42 .36vw;
}

#recruits-content{
    overflow: hidden;
}

/*.arrow{*/
/*    position: absolute;*/
/*    z-index: 10;*/
/*    top: 5em;*/
/*}*/

.arrow-left{
    display: flex;
    height: 4vw;
    width: 4vw;
    position: absolute;
    margin-left: -2vw;
    margin-top: -2vw;
    max-width: none;
    background: transparent;
    transform: rotate(180deg);
}

.arrow-right{
    display: flex;
    right: 0;
    height: 4vw;
    width: 4vw;
    position: absolute;
    margin-left: -2vw;
    margin-top: -2vw;
    max-width: none;
}

        /*  STYLING FOR CARDS AND CARD CONTENTS  */

.card-slider-mask {
    padding-top: 9vh;
    margin: 0 20px;
    max-width: calc(100% - 40px);
    overflow-x: scroll;
}

#card {
    display:flex;
    flex-wrap: nowrap;
    column-gap: 25px;
    position: relative;
    transition: all ease .3s;
}

.su-card {
    height: 450px;
    min-width: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 5px outset #5CFD42;
    border-radius: 3px;
    padding: 15px;
}

p.card-text, h4{
    color: #5CFD42;
}

.su-card-top, .su-card-middle, .su-card-bottom {
    display: flex;
}

.su-card-middle {
    flex: 1 0 auto;
    overflow: hidden;
    overflow-x: scroll;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
}

.su-card-games-list {
    display: flex;
    column-gap: 10px;
    flex: none;
    height: 100%;
    align-items: center;
}

.su-card-game {
    width: 117px;
}

.su-card-bottom {
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
    margin-top: 4vh;
}

img.card-img-top {
    height: 125px;
    width: 125px;
    border-radius: 59px;
}

.su-card-col {
    flex: 1 0 0;
}

.su-card-col-shrink {
    flex: none;
}

.su-card-top {
    column-gap: 20px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////// Recruits Section Ends ///////////////////////////////////////////////////*/

.social-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    border-bottom: solid #5CFD42 .36vw;
}

.social-side-container {
    min-width: 10em;
    height: 100%;
    overflow: hidden;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SQUADS AND COMRADE STYLING */
.solo-squad-img, .solo-com-img, .solo-pending-squad-img {
    border: solid 0.3vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    width: 7em;
}

.solo-squad, .solo-com {
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /*-ms-overflow-style: none;*/
    /*scrollbar-width: none;*/
}
/*SCROLLBAR EDITS============*/
.su-card-middle::-webkit-scrollbar-thumb,
.side-wrapper::-webkit-scrollbar-thumb,
.card-slider-mask::-webkit-scrollbar-thumb,
.invite-mask::-webkit-scrollbar-thumb,
.modal-squad-members-mask::-webkit-scrollbar-thumb,
#chat-messages-div-wrapper::-webkit-scrollbar-thumb
{
    background-image: linear-gradient(180deg, yellowgreen 0%, #5CFD42 99%);
    border: .15em solid black;
    border-radius: 100px;
    width: 9px;
}

.su-card-middle::-webkit-scrollbar-track,
.side-wrapper::-webkit-scrollbar-track,
.card-slider-mask::-webkit-scrollbar-track,
.invite-mask::-webkit-scrollbar-track,
.modal-squad-members-mask::-webkit-scrollbar-track,
#chat-messages-div-wrapper::-webkit-scrollbar-track{
    margin-block: .1em;
}

.su-card-middle::-webkit-scrollbar,
.side-wrapper::-webkit-scrollbar,
.modal-squad-members-mask::-webkit-scrollbar,
.invite-mask::-webkit-scrollbar,
.card-slider-mask::-webkit-scrollbar,
#chat-messages-div-wrapper::-webkit-scrollbar{
    background-color: black;
    border-radius: 100px;
    width: 9px;
    height: 9px;
}
/*------------------------------*/

.side-content {
    width: 100%;
}

.squad-modal-wrapper {
    margin-bottom: 180px;
}

.squad-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 50%;
    width: 36em;
    transform: translate(-50%, 0);
    z-index: 12;
    border-radius: 16px;
    padding: 2vh;
    border: 1px solid;
    margin-bottom: 70px;
}

.add-modal-title {
    border-bottom: 4px;
    font-size: xx-large;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-modal-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-squad-name-input {
    width: 20em;
    margin: 0 0.5em;
}

.add-modal-squad-img-wrapper>div, .modal-squad-img-wrapper>div {
    margin-left: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
}

.add-modal-squad-img, .modal-squad-img {
    position: absolute;
    top: 0;
    left: 0;
}

.modal-user-img {
    width: 4em;
    height: 4em;
    min-width: 4em;
    min-height: 4em;
}

.add-modal-squad-invites-wrapper {
    width: 100%;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0.5em;
    border: outset 5px;
    border-radius: 10px;
    animation: rgb 20s linear 0s infinite;
}

.invite-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}

.invite-mask {
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}

.invite-container {
    display: flex;
    align-items: center;
    height: 6em;
}

.single-user-wrapper {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squad-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    z-index: 10;
}

.hidden {
    display: none;
}

.darken {
    filter: brightness(50%);
}

.modal-title {
    font-size: xx-large;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.modal-squad-btn-wrapper, .add-modal-squad-create-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    align-items: center;
    column-gap: 20PX;
}

.modal-squad-invites-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-squad-chat-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.modal-squad-chat-btn {
    margin-left: auto;
}

.modal-squad-img-wrapper {
    flex: 1;
}

.modal-squad-img {
    margin-right: auto;
    width: 6em;
}

#comrades-content {
    height: 100%;
}

@keyframes rgb {
    from {
        border-color: #ff0000;
    }
    12.5% {
        /*border-color: #0099ff;*/
        border-color: #ff8000;
    }
    25% {
        /*border-color: #0099ff;*/
        border-color: #ffea00;
    }
    37.5% {
        border-color: #37ff00;
    }
    50% {
        border-color: #00fff7;
    }
    65.5% {
        border-color: #0077ff;
    }
    75% {
        border-color: #8251ff;
    }
    87.5% {
        border-color: #e600ff;
    }
    100% {
        border-color: #ff0000;
    }
}

#upload-squad-picture {
    z-index: 5;
    pointer-events: none;
    width: 4em;
    height: 4em;
}

.social-hq {
    color: #fff;
    animation: glow-text 20s linear 0s infinite;
}

@keyframes glow-text {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
    12.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff8000, 0 0 40px #ff8000, 0 0 50px #ff8000, 0 0 60px #ff8000, 0 0 70px #ff8000;
    }
    25% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffea00, 0 0 40px #ffea00, 0 0 50px #ffea00, 0 0 60px #ffea00, 0 0 70px #ffea00;
    }
    37.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #37ff00, 0 0 40px #37ff00, 0 0 50px #37ff00, 0 0 60px #37ff00, 0 0 70px #37ff00;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00fff7, 0 0 40px #00fff7, 0 0 50px #00fff7, 0 0 60px #00fff7, 0 0 70px #00fff7;
    }
    65.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0077ff, 0 0 40px #0077ff, 0 0 50px #0077ff, 0 0 60px #0077ff, 0 0 70px #0077ff;
    }
    75% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8251ff, 0 0 40px #8251ff, 0 0 50px #8251ff, 0 0 60px #8251ff, 0 0 70px #8251ff;
    }
    87.5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600ff, 0 0 40px #e600ff, 0 0 50px #e600ff, 0 0 60px #e600ff, 0 0 70px #e600ff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
}

@media only screen and (max-width: 600px) {
    #social-wrapper {
        flex-direction: column;
    }

    .social-title {
        visibility: hidden;
        height: 0px;
    }

    .side-wrapper {
        flex-direction: row;
    }

    .side-content {
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .side-content h5 {
        display: none;
    }

    .social-side-container {
        width: 100%;
        height: 9em;
        flex-display: row;
    }

    .solo-squad, .solo-com {
        width: 5em;
        margin: 1em;
    }

    .card-slider-mask {
        padding-top: 0;
    }

    .su-card {
        width: 85vw;
        min-width: 85vw;
    }

    #recruits-wrapper {
        border: none;
        height: 450px;
    }

    .squad-modal {
        width: 96vw;
    }

    #social-wrapper {
        height: auto;
    }

    .su-card-middle::-webkit-scrollbar,
    .side-wrapper::-webkit-scrollbar,
    .modal-squad-members-mask::-webkit-scrollbar,
    .invite-mask::-webkit-scrollbar,
    .card-slider-mask::-webkit-scrollbar{
        visibility: hidden;
    }

    .su-card-middle::-webkit-scrollbar-thumb,
    .side-wrapper::-webkit-scrollbar-thumb,
    .card-slider-mask::-webkit-scrollbar-thumb,
    .invite-mask::-webkit-scrollbar-thumb,
    .modal-squad-members-mask::-webkit-scrollbar-thumb{
        visibility: hidden;
    }

    .su-card-middle::-webkit-scrollbar-track,
    .side-wrapper::-webkit-scrollbar-track,
    .card-slider-mask::-webkit-scrollbar-track,
    .invite-mask::-webkit-scrollbar-track,
    .modal-squad-members-mask::-webkit-scrollbar-track,
    #chat-messages-div-wrapper::-webkit-scrollbar-track{
        visibility: hidden;
    }

}

#comrades-call-to-action {
    padding: 1em;
}

#recruits-call-to-action {
    padding-top: 3em;
}

#addGameCard {
    margin-top: 2em;
}

#addGameCard img {
    height: 12em;
    width: 10em;
}


#recruits-call-to-action {
    padding-top: 3em;
}

#addGameCard {
    margin-top: 2em;
}

#addGameCard img {
    height: 12em;
    width: 10em;
}