body{
    font-family: Chakra Petch, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 20px;
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron{
    color: #5CFD42;
    font-size: 200px;
    padding-top: 50px;
}
.box{
    background-color: transparent;
    border: 15px solid #5CFD42;
}
#statement{
    color: white;
    padding: 20px 200px 1px;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}


#feature1{
    width: 90vw;
    height: 350px;
    margin: auto;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: white;
    background-position: left,right;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU0XW9kaBAo0pEwxXurOTkjmnOUMwwZOSdPg&usqp=CAU"),url("https://media.istockphoto.com/id/1356139121/photo/gamers-playing-online-video-games-together.jpg?s=612x612&w=0&k=20&c=h0pz3618eN6BB9c8nkSGahU9LMYaXOonkkFVwkJilU4=");
    background-size: 50% auto;
    background-repeat: no-repeat;
}
#feature2{
    width: 100vw;
    height: 350px;
    font-weight: 500;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    color: white;
}
#feature3{
    width: 80vw;
    height: 350px;
    font-weight: 500;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    color: white;
}
#statement2{
    font-weight: 500;
    font-size: 42px;
    line-height: 55px;
    color: white;
}
#video{
    width: 90vw;
    height: 600px;
    margin: auto;
    position: relative;
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/5f32f358201cad1d002e1eaa/Doritos-Bowl-At-TwitchCon-2018/960x0.jpg?format=jpg&width=960");

}
.icon{
    width: 125px;
    height: 125px;
}
.carousel-container {
    width: 800px;
    border: 2px solid grey;
    text-align: center;
    height: 150px;
}

.item {
    display: inline-block;
    position: absolute;
}

.item--0 {
    left: 250px;
    background: brown;
    z-index: 0;
    width: 90px;
    height: 60px;
}

.item--1 {
    left: 100px;
    z-index: 1;
    background: orange;
    width: 150px;
    height: 100px;
}

.item--2 {
    left: 325px;
    z-index: 2;
    background: skyblue;
    width: 150px;
    height: 100px;
}

.item--3 {
    left: 550px;
    z-index: 1;
    background: yellow;
    width: 150px;
    height: 100px;
}

.item--4 {
    left: 450px;
    background: lightgrey;
    z-index: 0;
    width: 90px;
    height: 60px;
}

