.invite-buttons {
    display: flex;
    justify-content: space-between;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: ridge 12px;
    border-color: var(--bs-gamergreen) !important;
    background: rgba(33, 37, 41, .3);
}

.card-pro {
    border: ridge 12px;
    border-color: var(--bs-lighterpurp) !important;
    margin-top: 5%;

}