#page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-container{
    display: flex;
    justify-content: space-between;
    border: ridge #5CFD42 .5vw;
    margin: auto;
    width: 95vw;
    height: 100vh;
}

.green-card {
    margin: 2vw;
    width: 75vw;
    border: ridge 12px;
    border-color: var(--bs-gamergreen) !important;
    background: rgba(33, 37, 41, .3);
}

.create-squad, .purple-card {
    margin: 2vw;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: ridge 12px;
    border-color: var(--bs-lighterpurp) !important;
}

.invite-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h3 {
    text-align: center;
    border-bottom: ridge 3px #5CFD42;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.squad-title{
    font-size: 1.5rem;
    border-bottom: ridge 3px #5CFD42;
}

.squad-title:link{
    color: white;
    text-decoration: none;
}

.squad-title:visited{
    color: white;
}