#page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#squad-chat-wrapper {
    width: 96vw;
    height: calc(96vh - 100px);
    border: solid #5CFD42 .36vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#squad-img-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 8em;
    height: 8em;
    z-index: 100;
}

.squad-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://cdn.filestackcontent.com/dynXYf9AS26ImuqTgUPj");
}

.darken {
    filter: brightness(50%);
}

#upload-squad-picture {
    position: absolute;
    left: 4em;
    top: 4em;
    width: 4em;
    height: 4em;
    pointer-events: none;
}

#squad-title-wrapper {
    width: 100%;
    height: 4em;
    border-bottom: solid #5CFD42 .36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#squad-title {
    font-size: xxx-large;
}

#chat-body-wrapper {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

#chat-messages-div-wrapper {
    display: flex;
    flex-direction: column;
    border-right: solid #5CFD42 .36vw;
    flex-grow: 1;
    padding: .5em;
    overflow-y: scroll;
}

#chat-messages-div {
    width: 100%;
}

.single-message-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    margin: .5em 0;
}

.single-message-content-wrapper {
    width: 100%;
}

.single-message-top-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.single-message-timestamp {
    font-size: x-small;
    filter: brightness(60%);
    margin-left: 1em;
}

.single-message-content {
    padding-right: 4em;
}

.message-options {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-button {
    width: 2em;
    height: 2em;
    display: block;
}

.hidden {
    display: none;
}

.message-sender-img-wrapper {
    width: 3em;
    margin-right: .5em;
}

#chat-sidebar-wrapper {
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-users-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#squad-users-div-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .5em;
    overflow-y: scroll;
}

#squad-users-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.squad-member-wrapper {
    height: 100%;
    width: 100%;
    padding: .36em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.squad-member-img {
    height: 3em;
}

#text-input-wrapper {
    width: 100%;
    border-top: solid #5CFD42 .36vw;
    display: flex;
}

#chat-text-input {
    flex-grow: 1;
}

#chat-button-container {
    width: calc(180px + .18vw);
}

#chat-send-button {
    width: 100%;
}