#page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#squad-chat-wrapper {
    width: 96vw;
    height: calc(96vh - 100px);
    border: solid #5CFD42 .36vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#squad-title-wrapper {
    width: 100%;
    height: 4em;
    border-bottom: solid #5CFD42 .36vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-body-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

#chat-messages-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    border-right: solid #5CFD42 .36vw;
    flex-grow: 1;
    padding: .5em;
    overflow-y: scroll;
}

.single-message-wrapper {
    width: 100%;
    display: flex;
}

.message-sender-img-wrapper {
    width: 3em;
}

#chat-sidebar-wrapper {
    height: 100%;
    width: 180px;
}

#text-input-wrapper {
    width: 100%;
    border-top: solid #5CFD42 .36vw;
    display: flex;
}

#chat-text-input {
    flex-grow: 1;
}

#chat-button-container {
    width: calc(180px + .18vw);
}

#chat-send-button {
    width: 100%;
}